body {
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkgreen;
}
.board {
    width: 1000px;
    height: 700px;
    border: 1px solid lightgray;
    margin: 0;
    padding: 0;
    display: flex;
}
.game-place{
    width: 800px;
    height: 700px;
    margin: 0;
    padding: 0;
    position: relative;
}
.event-holder{
    background-color: bisque;
    width: 200px;
    height: 400px;
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.rps-wrapper {
    background-color: beige;
    width: 200px;
    height: 700px;
    margin: 0;
    border: 0;
    padding: 0;
    display: block;    
}
.entry {
    background-color: beige;
    width: 400px;
    height: 100px;
    margin: 33px auto;
    border: 1px solid lightgray;
    border-radius: 2px;
    text-align: center;
}
.largecard {
    display: block;
    position: absolute;
}
#events {
    list-style: none;
    margin: 0;
    padding: 0;
    height:400;
    flex-grow: 1;
    border-bottom: 1px solid lightgray;
    overflow-y: scroll;
}

#events li {
    padding: 2px;
}